examples/demo.json
[
    {
        "id": "ac7bf7ec36d6a989",
        "type": "function",
        "z": "d83ba3a0e79165f6",
        "name": "发送内容",
        "func": "msg.serialConfig=msg.serialPorts;\nmsg.payload=msg.serialConfig.serialport+\"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "cc85519d5a973bd6"
            ]
        ]
    },
    {
        "id": "1b8e7a8fee300657",
        "type": "inject",
        "z": "d83ba3a0e79165f6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "fcaaa0d1d662e5c5"
            ]
        ]
    },
    {
        "id": "c5b2a60e99954c23",
        "type": "debug",
        "z": "d83ba3a0e79165f6",
        "name": "=========调试 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "2e52a7d5dcba1731",
        "type": "split",
        "z": "d83ba3a0e79165f6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "serialPorts",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "ac7bf7ec36d6a989",
                "de1ba17b88689674"
            ]
        ]
    },
    {
        "id": "fcaaa0d1d662e5c5",
        "type": "function",
        "z": "d83ba3a0e79165f6",
        "name": "窗口配置数组",
        "func": "let serialPorts = [\n    {\n        serialport:'/dev/ttys027',\n        baud:9600,\n        databits:8,\n        parity:'NONE',\n        stopbits:1,\n        responsetimeout:3\n    },\n    {\n        serialport: '/dev/ttys018',\n        baud: 9600,\n        databits: 8,\n        parity: 'NONE',\n        stopbits: 1,\n        responsetimeout:5\n    },\n    \n];\nmsg.serialPorts=serialPorts;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "2e52a7d5dcba1731"
            ]
        ]
    },
    {
        "id": "fd3f7169e7cc20e8",
        "type": "inject",
        "z": "d83ba3a0e79165f6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "9b1c32cc48ea5751"
            ]
        ]
    },
    {
        "id": "9b1c32cc48ea5751",
        "type": "function",
        "z": "d83ba3a0e79165f6",
        "name": "单独配置",
        "func": "\nmsg.serialPorts = {\n    serialport: '/dev/ttys021',\n    baud: 9600,\n    databits: 8,\n    parity: 'NONE',\n    stopbits: 1\n};\nmsg.queueSend = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "ac7bf7ec36d6a989"
            ]
        ]
    },
    {
        "id": "cc85519d5a973bd6",
        "type": "zserial request",
        "z": "d83ba3a0e79165f6",
        "name": "发收通道",
        "x": 740,
        "y": 240,
        "wires": [
            [
                "c5b2a60e99954c23"
            ]
        ]
    },
    {
        "id": "0e4c242820dcc156",
        "type": "zserial closeAll",
        "z": "d83ba3a0e79165f6",
        "name": "全部关闭",
        "x": 380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "052eea87f99970b0",
        "type": "inject",
        "z": "d83ba3a0e79165f6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "0e4c242820dcc156"
            ]
        ]
    },
    {
        "id": "ef3b251330bafa25",
        "type": "zserial closeAll",
        "z": "d83ba3a0e79165f6",
        "name": "单独关闭",
        "x": 540,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "98f8acd5d825b6dd",
        "type": "inject",
        "z": "d83ba3a0e79165f6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "48f42e1d3e51dd37"
            ]
        ]
    },
    {
        "id": "48f42e1d3e51dd37",
        "type": "function",
        "z": "d83ba3a0e79165f6",
        "name": "单独配置",
        "func": "\nmsg.serialConfig = {\n    serialport: '/dev/ttys021',\n    baud: 9600,\n    databits: 8,\n    parity: 'NONE',\n    stopbits: 1\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "ef3b251330bafa25"
            ]
        ]
    },
    {
        "id": "de1ba17b88689674",
        "type": "debug",
        "z": "d83ba3a0e79165f6",
        "name": "调试 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2a9ce8197332b37",
        "type": "zserial batch",
        "z": "d83ba3a0e79165f6",
        "name": "批量发收",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "4bb8ea3e0f7356c4"
            ],
            [
                "fb3429149bdb670e"
            ],
            [
                "0b7d2e09c81f4b21"
            ]
        ]
    },
    {
        "id": "24569a0782518192",
        "type": "inject",
        "z": "d83ba3a0e79165f6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "8cc9a6e4d6656909"
            ]
        ]
    },
    {
        "id": "8cc9a6e4d6656909",
        "type": "function",
        "z": "d83ba3a0e79165f6",
        "name": "窗口配置数组",
        "func": "let serialPorts = [\n    {\n        serialport:'/dev/ttys022',\n        baud:9600,\n        databits:8,\n        parity:'NONE',\n        stopbits:1,\n        responsetimeout:12000,\n        payload:'ttys022\\n'\n    },\n    {\n        serialport: '/dev/ttys026',\n        baud: 9600,\n        databits: 8,\n        parity: 'NONE',\n        stopbits: 1,\n        responsetimeout:15000,\n        payload:'ttys026\\n'\n    },\n    \n];\nmsg.flush=false;\nmsg.serialConfigs=serialPorts;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "e2a9ce8197332b37"
            ]
        ]
    },
    {
        "id": "4bb8ea3e0f7356c4",
        "type": "debug",
        "z": "d83ba3a0e79165f6",
        "name": "////////////调试 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "fb3429149bdb670e",
        "type": "debug",
        "z": "d83ba3a0e79165f6",
        "name": "调试 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "0b7d2e09c81f4b21",
        "type": "debug",
        "z": "d83ba3a0e79165f6",
        "name": "++++++调试 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "ce72b12d1101e66b",
        "type": "zserial in",
        "z": "d83ba3a0e79165f6",
        "name": "统一接收通道",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "3e8f4e282ee7f980"
            ]
        ]
    },
    {
        "id": "3e8f4e282ee7f980",
        "type": "debug",
        "z": "d83ba3a0e79165f6",
        "name": "调试 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "0215791db4d97215",
        "type": "inject",
        "z": "d83ba3a0e79165f6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "ce72b12d1101e66b"
            ]
        ]
    }
]