examples/demo.json
[
    {
        "id": "ac7bf7ec36d6a989",
        "type": "function",
        "z": "6c5cb5c635f82b56",
        "name": "发送内容",
        "func": "msg.serialConfig=msg.serialPorts;\nmsg.payload=msg.serialConfig.serialport+\"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "1bbc5a3a00e0c543",
                "cc85519d5a973bd6"
            ]
        ]
    },
    {
        "id": "1b8e7a8fee300657",
        "type": "inject",
        "z": "6c5cb5c635f82b56",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "fcaaa0d1d662e5c5"
            ]
        ]
    },
    {
        "id": "c5b2a60e99954c23",
        "type": "debug",
        "z": "6c5cb5c635f82b56",
        "name": "=========调试 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e52a7d5dcba1731",
        "type": "split",
        "z": "6c5cb5c635f82b56",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "serialPorts",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "ac7bf7ec36d6a989"
            ]
        ]
    },
    {
        "id": "fcaaa0d1d662e5c5",
        "type": "function",
        "z": "6c5cb5c635f82b56",
        "name": "窗口配置数组",
        "func": "let serialPorts = [\n    {\n        serialport: '/dev/ttys018',\n        baud: 9600,\n        databits: 8,\n        parity: 'NONE',\n        stopbits: 1\n    },\n    {\n        serialport:'/dev/ttys021',\n        baud:9600,\n        databits:8,\n        parity:'NONE',\n        stopbits:1\n    }\n];\nmsg.serialPorts=serialPorts;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "2e52a7d5dcba1731"
            ]
        ]
    },
    {
        "id": "fd3f7169e7cc20e8",
        "type": "inject",
        "z": "6c5cb5c635f82b56",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "9b1c32cc48ea5751"
            ]
        ]
    },
    {
        "id": "9b1c32cc48ea5751",
        "type": "function",
        "z": "6c5cb5c635f82b56",
        "name": "单独配置",
        "func": "\nmsg.serialPorts = {\n    serialport: '/dev/ttys021',\n    baud: 9600,\n    databits: 8,\n    parity: 'NONE',\n    stopbits: 1\n};\nmsg.queueSend = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "ac7bf7ec36d6a989"
            ]
        ]
    },
    {
        "id": "b55e31e41cb990b1",
        "type": "zserial in",
        "z": "6c5cb5c635f82b56",
        "name": "统一接收通道",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "a4725e6909264fb5"
            ]
        ]
    },
    {
        "id": "a4725e6909264fb5",
        "type": "debug",
        "z": "6c5cb5c635f82b56",
        "name": "调试 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "a6efadadceca633c",
        "type": "inject",
        "z": "6c5cb5c635f82b56",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "b55e31e41cb990b1"
            ]
        ]
    },
    {
        "id": "1bbc5a3a00e0c543",
        "type": "zserial out",
        "z": "6c5cb5c635f82b56",
        "name": "统一发送通道",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "cc85519d5a973bd6",
        "type": "zserial request",
        "z": "6c5cb5c635f82b56",
        "name": "发收通道",
        "x": 840,
        "y": 200,
        "wires": [
            [
                "c5b2a60e99954c23"
            ]
        ]
    },
    {
        "id": "0e4c242820dcc156",
        "type": "zserial closeAll",
        "z": "6c5cb5c635f82b56",
        "name": "全部关闭",
        "x": 480,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "052eea87f99970b0",
        "type": "inject",
        "z": "6c5cb5c635f82b56",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "0e4c242820dcc156"
            ]
        ]
    },
    {
        "id": "ef3b251330bafa25",
        "type": "zserial closeAll",
        "z": "6c5cb5c635f82b56",
        "name": "单独关闭",
        "x": 640,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "98f8acd5d825b6dd",
        "type": "inject",
        "z": "6c5cb5c635f82b56",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "48f42e1d3e51dd37"
            ]
        ]
    },
    {
        "id": "48f42e1d3e51dd37",
        "type": "function",
        "z": "6c5cb5c635f82b56",
        "name": "单独配置",
        "func": "\nmsg.serialConfig = {\n    serialport: '/dev/ttys021',\n    baud: 9600,\n    databits: 8,\n    parity: 'NONE',\n    stopbits: 1\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            [
                "ef3b251330bafa25"
            ]
        ]
    }
]